<md-dialog aria-label="Add User"
           flex="30"
           flex-md="40"
           flex-sm="55"
           flex-xs="90"
           layout-padding>
  <md-dialog-content>
    <div class="md-dialog-content">
      <h3>Add User</h3>
      <form name="userForm">
        <div layout="column">
          <md-input-container class="user-form-input">
            <label>Email</label>
            <input type="email"
                   name="email"
                   required
                   ng-pattern="/^.+@.+\..+$/"
                   ng-model="email">
            <div ng-messages="userForm.email.$error">
              <div ng-message="required">Email Required</div>
              <div ng-message="pattern">Invalid Email</div>
            </div>
          </md-input-container>
          <md-input-container class="user-form-input">
            <label>Name</label>
            <input ng-model="name">
          </md-input-container>
          <h4>User Role</h4>
          <md-radio-group ng-model="privilege">
            <md-radio-button value="M" class="md-primary btn-role">
              Member
            </md-radio-button>
            <md-radio-button value="A" class="md-primary btn-role">
              Admin
            </md-radio-button>
          </md-radio-group>
        </div>
      </form>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="cancel()" class="md-primary">Cancel</md-button>
    <md-button ng-click="add()" class="md-primary">Save</md-button>
  </md-dialog-actions>
</md-dialog>
