<div
  class="light-bg nav-padding"
  layout="column"
  layout-fill>
  <div layout="row">
    <p>This is first row</p>
  </div>
  <div layout="row" layout-align="center start">
    <md-content class="light-bg user-content"
                flex="50"
                flex-lg="60"
                flex-md="70"
                flex-sm="90"
                flex-xs="100">
      <md-subheader class="user-subheader">
        <md-menu>
          <md-button class="md-btn--shrink" ng-click="$mdOpenMenu($event)">
            enabled users
            <i class="material-icons mi--mid">expand_more</i>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-disabled="true">
                enabled users
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                disabled users
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-subheader>
      <md-list>
        <md-list-item class="md-2-line"
                      ng-repeat="user in us.users"
                      ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ user.name }}</h3>
            <p>{{ user.email }}</p>
          </div>
          <md-menu class="md-secondary" hide-sm hide-xs>
            <md-button ng-class="us.roleClass(user.privilege)"
                      ng-click="$mdOpenMenu($event)">
              {{ user.privilege == 'A' ? 'admin' : 'member' }}
              <i class="material-icons mi--mid">arrow_drop_down</i>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-disabled="true">
                  {{ user.privilege == 'A' ? 'admin' : 'member' }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>
                  {{ user.privilege == 'A' ? 'member' : 'admin' }}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-button class="md-secondary md-primary"
                    ng-disabled="!user.active"
                    hide-xs>
            {{ user.active ? 'reset' : 'inactive' }}
          </md-button>
          <md-button class="md-secondary md-primary">Delete</md-button>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
