<div
  class="light-bg nav-padding"
  layout="column"
  layout-fill>
  <div layout="row" layout-align="center start">
    <md-content class="light-bg user-content"
                flex="50"
                flex-lg="60"
                flex-md="70"
                flex-sm="90"
                flex-xs="100">
      <md-subheader class="user-subheader">
        <md-menu>
          <md-button
            class="md-btn--shrink"
            ng-disabled="!us.isAdmin()"
            ng-click="$mdOpenMenu($event)">
            {{ us.showEnabled ? 'Enabled Users' : 'Disabled Users' }}
            <i class="material-icons mi--mid">expand_more</i>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-disabled="true">
                {{ us.showEnabled ? 'Enabled Users' : 'Disabled Users' }}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="us.switchUsers()">
                {{ !us.showEnabled ? 'Enabled Users' : 'Disabled Users' }}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-input-container class="user-search" md-no-float>
          <input id="user-search"
                 type="text"
                 ng-model="us.search"
                 placeholder="Search">
        </md-input-container>
      </md-subheader>
      <md-list>
        <md-list-item class="md-2-line"
        ng-repeat="user in us.users | filter:us.search"
        ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ user.name }}</h3>
            <p>{{ user.email }}</p>
          </div>
          <md-menu class="md-secondary"
                   hide-md
                   hide-sm
                   hide-xs>
            <md-button ng-class="us.roleClass(user.privilege)"
                       ng-disabled="us.btnDisabled(user, 'role')"
                       ng-click="$mdOpenMenu($event)">
              {{ user.privilege == 'A' ? 'Admin' : 'Member' }}
              <i class="material-icons mi--mid">arrow_drop_down</i>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-disabled="true">
                  {{ user.privilege == 'A' ? 'Admin' : 'Member' }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="us.changeRole(user)">
                  {{ user.privilege != 'A' ? 'Admin' : 'Member' }}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-button class="md-secondary md-primary"
                     ng-if="us.isAdmin()"
                     ng-disabled="us.btnDisabled(user, 'reset')"
        ng-click="us.showConfirm($event,$index,us.resetText(user),user,us.users)"
        hide-xs>
            {{ us.resetText(user) }}
          </md-button>
          <md-button class="md-secondary md-accent md-hue-1"
                    ng-disabled="us.btnDisabled(user)"
                    ng-click="us.showConfirm($event,$index,'del',user,us.users)"
                    aria-label="Delete user">
            <i class="material-icons mi--mid">
              {{ user.disabled ? 'delete_forever' : 'delete' }}
            </i>
          </md-button>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
  <md-button class="md-fab md-fab--lg md-fab--search pos-fixed"
             ng-click="us.focusSearch()"
             aria-label="Search user">
    <i class="material-icons mi--mid">search</i>
  </md-button>
  <md-button class="md-fab md-primary md-fab--lg md-fab--add pos-fixed"
             ng-if="us.isAdmin()"
             ng-click="us.addOrDeleteAll($event)"
             aria-label="Add user">
    <i class="material-icons mi--mid">
      {{ us.showEnabled ? 'add' : 'delete_sweep' }}
    </i>
  </md-button>
</div>
