<md-sidenav
  class="md-sidenav-left"
  md-component-id="left"
  md-whiteframe="4">
  <md-toolbar>
    <h1 class="md-toolbar-tools">
      <i class="material-icons mi--mid" style="margin-right:10px">
        blur_circular
      </i>
      Filter Records
    </h1>
  </md-toolbar>
  <div layout="column" layout-padding layout-margin>
    <h4 class="md-subhead">Type</h4>
    <div layout="row" layout-wrap>
      <md-checkbox
        class="md-primary"
        flex="45"
        ng-repeat="type in mp.filterTypes"
        ng-model="type.checked"
        aria-label="{{type.name}} checkbox">
        {{type.name}}
      </md-checkbox>
    </div>
    <md-checkbox
      class="md-primary"
      style="margin-left:16px"
      ng-model="mp.applySeverity"
      aria-label="Apply severity filter checkbox">
      Severity: {{mp.applySeverity ? mp.filterSeverity : 'n/a'}}
    </md-checkbox>
    <md-slider
        class="md-primary"
        ng-model="mp.filterSeverity"
        step="1"
        min="1"
        max="5"
        aria-label="severity filter slider"
        md-discrete>
    </md-slider>
    <div layout="row" layout-wrap>
      <md-button class="md-primary" ng-click="mp.filterClearAll()">
        Clear All
      </md-button>
      <md-button class="md-raised md-primary" ng-click="mp.filterUpdate()">
        Update
      </md-button>
      <md-button ng-click="mp.toggleSideMenu()">Cancel</md-button>
    </div>
  </div>
</md-sidenav>
<div ng-if="mp.locating">
  <md-progress-linear class="map-progress" md-mode="indeterminate">
  </md-progress-linear>
</div>
<md-button class="md-fab md-fab--lg md-fab--search pos-fixed"
           ng-click="mp.toggleSideMenu()"
           aria-label="Filter markers">
  <i class="material-icons mi--mid">assignment</i>
</md-button>
<md-fab-speed-dial class="md-scale pos-fixed md-fab--add" md-direction="up">
  <md-fab-trigger>
    <md-button class="md-fab md-primary md-fab--lg"
               aria-label="map function menu"
      >
      <i class="material-icons mi--mid">
        more_vert
      </i>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button class="md-fab md-raised md-mini"
               ng-click="mp.filterUpdate()"
               aria-label="refresh markers">
      <i class="material-icons mi--mid">
        refresh
      </i>
    </md-button>
    <md-button class="md-fab md-raised md-mini md-primary"
               ng-click="mp.showDialog($event)"
               aria-label="Add new marker">
      <i class="material-icons mi--mid">
        add_location
      </i>
    </md-button>
    <md-button class="md-fab md-raised md-mini"
               ng-click="mp.getLocalMap()"
               aria-label="Locate current map view">
      <i class="material-icons mi--mid">
        my_location
      </i>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
<div layout="row" id="map" layout-fill>
</div>
