<md-content
  class="dark-bg"
  layout="row"
  layout-align="center center"
  layout-fill>
  <md-card
    flex="30"
    flex-md="40"
    flex-sm="55"
    flex-xs="90"
    class="login-box md-whiteframe-6dp">
    <div style="height:70px">
      <md-icon md-svg-icon="logo-login" class="join-logo"></md-icon>
    </div>
    <form name="joinForm" class="login-form">
      <div layout="column">
        <md-input-container>
          <label>Email</label>
          <input name="email"
                 type="email"
                 required
                 ng-pattern="/^.+@.+\..+$/"
                 ng-model="au.email">
          <div ng-messages="joinForm.email.$error">
            <div ng-message="required">Email Required</div>
            <div ng-message="pattern">Invalid Email</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Name</label>
          <input name="name"
                 ng-model="au.name">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password"
                 name="password"
                 required
                 ng-model="au.password">
          <div ng-messages="joinForm.password.$error">
            <div ng-message="required">Password required</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Confirm Password</label>
          <input type="password"
                 name="confirm"
                 ng-keypress="au.enter($event, true)"
                 required
                 ng-model="au.confirm">
          <div ng-messages="joinForm.confirm.$error">
            <div ng-message="required">Confirm Password required</div>
          </div>
        </md-input-container>
      </div>
    </form>
    <md-card-actions layout="column">
      <md-button
        class="login-btn md-raised md-primary"
        ng-click="au.join($event)"
        >
        Join Neat
      </md-button>
    </md-card-actions>
  </md-card>
</md-content>
