<md-content
  class="dark-bg"
  layout="row"
  layout-align="center center"
  layout-fill>
  <md-card
    flex="30"
    flex-md="40"
    flex-sm="55"
    flex-xs="90"
    class="login-box md-whiteframe-6dp">
    <div style="height:140px">
      <md-icon md-svg-icon="logo-login" class="login-logo"></md-icon>
    </div>
    <form name="loginForm" class="login-form">
      <div layout="column">
        <md-input-container>
          <label>Email</label>
          <input name="email"
                 type="email"
                 required
                 ng-pattern="/^.+@.+\..+$/"
                 ng-model="lg.email">
          <div ng-messages="loginForm.email.$error">
            <div ng-message="required">Email Required</div>
            <div ng-message="pattern">Invalid Email</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password"
                 name="password"
                 ng-keypress="lg.enter($event)"
                 required
                 ng-model="lg.password">
          <div ng-messages="loginForm.password.$error">
            <div ng-message="required">Password required</div>
          </div>
        </md-input-container>
      </div>
    </form>
    <md-card-actions layout="column">
      <md-button
        class="login-btn md-raised md-primary"
        ng-click="lg.login()"
        >
        Login
      </md-button>
    </md-card-actions>
  </md-card>
</md-content>
