.login-box {
  padding: 38px 40px;
}

.login-logo {
  height: 85%;
  width: 100%;
}

.join-logo {
  height: 100%;
  width: 100%;
}

.login-form {
  padding: {
    top: 10px;
    bottom: 10px;
  }
}

.login-btn {
  padding: 3px 6px;
  font-size: 16px;
}
