<md-toolbar layout="row" class="md-accent">
  <md-button flex="20" aria-label="App Logo, Go to Home">
    <a href="/">
      <md-icon md-svg-icon="logo-header" class="head-logo"></md-icon>
    </a>
  </md-button>
  <nav flex="60" layout="row" layout-align="center center">
    <a class="nav-link active" href="/" md-ink-ripple>Map</a>
    <a class="nav-link" href="/users" md-ink-ripple>Users</a>
  </nav>
  <span flex="20" layout="row" layout-align="center center">
    <md-button class="btn-logout">Logout</md-button>
  </span>
</md-toolbar>
