<md-toolbar layout="row" class="md-accent md-whiteframe-4dp nav-toolbar">
  <md-button flex="20" aria-label="App Logo, Go to Home">
    <a ui-sref="map">
      <md-icon md-svg-icon="logo-header" class="head-logo"></md-icon>
    </a>
  </md-button>
  <nav flex="60" layout="row" layout-align="center center">
    <a class="nav-link"
       ui-sref="map"
       ui-sref-active="nav-link--active"
       md-ink-ripple>Map</a>
    <a class="nav-link"
       ui-sref="users"
       ui-sref-active="nav-link--active"
       md-ink-ripple>Users</a>
  </nav>
  <span flex="20" layout="row" layout-align="center center">
    <md-button class="btn-logout" ng-click="nv.logout()">Logout</md-button>
  </span>
</md-toolbar>
